const styles = StyleSheet.create({
    container: {
      flex: 1,
      justifyContent: 'center',
      alignItems: 'center'
    },
    setFontSizeOne: {
      fontSize: 15 // Define font size here in Pixels
    },
    setFontSizeTwo: {
      fontSize: 20 // Define font size here in Pixels
    },
    setFontSizeThree: {
      fontSize: 25 // Define font size here in Pixels
    },
    setFontSizeFour: {
      fontSize: 30 // Define font size here in Pixels
    },
  
  });